.contacts__item {
  margin-left: 110px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
  }
}

.contacts__item--geo {
  &:before {
    top: 2px;
    left: -18px;
    @include sprite($sprite-map-pin)
  }
}

.contacts__item--phone {
  font-size: 18px;
  font-weight: 600;
  &:before {
    top: 5px;
    left: -20px;
    @include sprite($sprite-phone)
  }
}
