include _common/_mixins

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		// build:css css/vendor.css
		link(rel='stylesheet', href='bower_components/normalize.css')
		// endbuild
		link(rel="stylesheet" href="css/main.css")
		title
			block title
	body
		.wrapper
			.maincontent

				include _common/header

				.content
					.content__wrapper
						.content__inner
							.article

								include _common/sidebar

								.article-content
									block content

		include _common/footer
		script(src='js/main.js')
