- var socials = ['vk', 'fb', 'tw'];
	header
		.container-fluid.container-fluid--color_white
				.container
					.wrapper.wrapper--indent_25
						ul.nav.socials-mini.float-left
							each item in socials
								li.socials-mini__item
									a(href="#" class="socials__link sprite_#{item}")
						ul.nav.contacts.float-right
							li.contacts__item.contacts__item--geo
								a(href="#" class="contacts__link contacts__link--geo") ул. Маяковская 6, офис 17
							li.contacts__item.contacts__item--phone
								a(href="tel:+79211231213" class="contacts__link contacts__link--phone") +7&nbsp;(921)&nbsp;123-12-13
		.container-fluid
			.container
				.wrapper.wrapper--indent_30
					ul.nav.nav-row
						li.nav-row__item
							.logo
								a(href="" class="logo__link")
									img(src="img/logo-orange.png", alt="Cooltech" class="logo__image")
						li.nav-row__item
							form.search-bar
								input(type="search" class="search-bar__input" name="keyword" placeholder="Что будем искать")
								button.search-bar__button Найти
						li.nav-row__item
							ul.nav.nav-info
								li.nav-info__item
									a(href="#" class="nav-info__link") Карта проезда
								li.nav-info__item
									a(href="#" class="nav-info__link") История заказов
								li.nav-info__item
									a(href="#" class="nav-info__link") Корзина

