.container-fluid.container-fluid--color_white
	.container
		ul.nav.navbar
			li.navbar__item
				a(href="#" class="navbar__link") Планшеты
			li.navbar__item
				a(href="#" class="navbar__link navbar__link--active") Мобильные телефоны
			li.navbar__item
				a(href="#" class="navbar__link") mp3 плееры
			li.navbar__item
				a(href="#" class="navbar__link") Персональные компьютеры
			li.navbar__item
				a(href="#" class="navbar__link") Ноутбуки
			li.navbar__item
				a(href="#" class="navbar__link") Аксессуары
			li.navbar__item
				a(href="#" class="navbar__link") Бытовая техника						