$white: #fff;
$black: #000;
$wildSand: #f4f4f4;
$mineShaft: #333;
$porcelain: #ebedef;
$blazeOrange: #f60;
$iron: #dee1e4;
$gray: #7f7f7f;
$mercury: #e4e2e2;
$shuttleGray: #5d656c;
$alabaster: #fbfbfb;
$mystic: #d9e5ea;
$malibu: #5db2fc;
$heather: #b5beca;
$apple: #60ac49;
$alto: #e0e0e0;
