.catalog-view3 {

  .thumb-slider {
    display: none;
  }

  .product-table {
    display: none;
  }

  .rating-widget {
    display: none;
  }

  .vendor-code {
    @include inline-block(middle);
  }

  .media-list {
    margin-left: 0;
  }

  .media-list__item {
    display: list-item;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid $iron;
    border-bottom: none;
    border-radius: 0;

    &:last-child {
      border-bottom: 1px solid $iron;
    }
  }

  .section {
    @include inline-block(bottom);
  }

  .section--info {
    float: right;
  }

  .product-title {
    padding: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 8px;
    min-height: auto;
    width: 290px;
    text-align: left;
    white-space: nowrap;
    font-weight: 400;
  }

  .product-title--strange {
    display: inline;
  }

  .price-container {
    @include inline-block(middle);
    margin: 0;
  }

  .order-list {
    @include inline-block(middle);
    margin-left: 20px;
  }

  .order-button {
    margin-left: 15px;
  }
}
