/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-checkbox-check-name: 'sprite_checkbox-check';
$sprite-checkbox-check-x: 129px;
$sprite-checkbox-check-y: 52px;
$sprite-checkbox-check-offset-x: -129px;
$sprite-checkbox-check-offset-y: -52px;
$sprite-checkbox-check-width: 19px;
$sprite-checkbox-check-height: 19px;
$sprite-checkbox-check-total-width: 155px;
$sprite-checkbox-check-total-height: 147px;
$sprite-checkbox-check-image: '../img/sprite.png';
$sprite-checkbox-check: (129px, 52px, -129px, -52px, 19px, 19px, 155px, 147px, '../img/sprite.png', 'sprite_checkbox-check', );
$sprite-checkbox-clear-name: 'sprite_checkbox-clear';
$sprite-checkbox-clear-x: 129px;
$sprite-checkbox-clear-y: 71px;
$sprite-checkbox-clear-offset-x: -129px;
$sprite-checkbox-clear-offset-y: -71px;
$sprite-checkbox-clear-width: 19px;
$sprite-checkbox-clear-height: 19px;
$sprite-checkbox-clear-total-width: 155px;
$sprite-checkbox-clear-total-height: 147px;
$sprite-checkbox-clear-image: '../img/sprite.png';
$sprite-checkbox-clear: (129px, 71px, -129px, -71px, 19px, 19px, 155px, 147px, '../img/sprite.png', 'sprite_checkbox-clear', );
$sprite-checkbox-hover-name: 'sprite_checkbox-hover';
$sprite-checkbox-hover-x: 129px;
$sprite-checkbox-hover-y: 90px;
$sprite-checkbox-hover-offset-x: -129px;
$sprite-checkbox-hover-offset-y: -90px;
$sprite-checkbox-hover-width: 19px;
$sprite-checkbox-hover-height: 19px;
$sprite-checkbox-hover-total-width: 155px;
$sprite-checkbox-hover-total-height: 147px;
$sprite-checkbox-hover-image: '../img/sprite.png';
$sprite-checkbox-hover: (129px, 90px, -129px, -90px, 19px, 19px, 155px, 147px, '../img/sprite.png', 'sprite_checkbox-hover', );
$sprite-fb-big-hover-name: 'sprite_fb-big-hover';
$sprite-fb-big-hover-x: 86px;
$sprite-fb-big-hover-y: 0px;
$sprite-fb-big-hover-offset-x: -86px;
$sprite-fb-big-hover-offset-y: 0px;
$sprite-fb-big-hover-width: 43px;
$sprite-fb-big-hover-height: 43px;
$sprite-fb-big-hover-total-width: 155px;
$sprite-fb-big-hover-total-height: 147px;
$sprite-fb-big-hover-image: '../img/sprite.png';
$sprite-fb-big-hover: (86px, 0px, -86px, 0px, 43px, 43px, 155px, 147px, '../img/sprite.png', 'sprite_fb-big-hover', );
$sprite-fb-big-name: 'sprite_fb-big';
$sprite-fb-big-x: 43px;
$sprite-fb-big-y: 0px;
$sprite-fb-big-offset-x: -43px;
$sprite-fb-big-offset-y: 0px;
$sprite-fb-big-width: 43px;
$sprite-fb-big-height: 43px;
$sprite-fb-big-total-width: 155px;
$sprite-fb-big-total-height: 147px;
$sprite-fb-big-image: '../img/sprite.png';
$sprite-fb-big: (43px, 0px, -43px, 0px, 43px, 43px, 155px, 147px, '../img/sprite.png', 'sprite_fb-big', );
$sprite-fb-hover-name: 'sprite_fb-hover';
$sprite-fb-hover-x: 129px;
$sprite-fb-hover-y: 0px;
$sprite-fb-hover-offset-x: -129px;
$sprite-fb-hover-offset-y: 0px;
$sprite-fb-hover-width: 26px;
$sprite-fb-hover-height: 26px;
$sprite-fb-hover-total-width: 155px;
$sprite-fb-hover-total-height: 147px;
$sprite-fb-hover-image: '../img/sprite.png';
$sprite-fb-hover: (129px, 0px, -129px, 0px, 26px, 26px, 155px, 147px, '../img/sprite.png', 'sprite_fb-hover', );
$sprite-fb-name: 'sprite_fb';
$sprite-fb-x: 80px;
$sprite-fb-y: 86px;
$sprite-fb-offset-x: -80px;
$sprite-fb-offset-y: -86px;
$sprite-fb-width: 26px;
$sprite-fb-height: 26px;
$sprite-fb-total-width: 155px;
$sprite-fb-total-height: 147px;
$sprite-fb-image: '../img/sprite.png';
$sprite-fb: (80px, 86px, -80px, -86px, 26px, 26px, 155px, 147px, '../img/sprite.png', 'sprite_fb', );
$sprite-map-pin-name: 'sprite_map-pin';
$sprite-map-pin-x: 12px;
$sprite-map-pin-y: 131px;
$sprite-map-pin-offset-x: -12px;
$sprite-map-pin-offset-y: -131px;
$sprite-map-pin-width: 12px;
$sprite-map-pin-height: 16px;
$sprite-map-pin-total-width: 155px;
$sprite-map-pin-total-height: 147px;
$sprite-map-pin-image: '../img/sprite.png';
$sprite-map-pin: (12px, 131px, -12px, -131px, 12px, 16px, 155px, 147px, '../img/sprite.png', 'sprite_map-pin', );
$sprite-phone-name: 'sprite_phone';
$sprite-phone-x: 0px;
$sprite-phone-y: 131px;
$sprite-phone-offset-x: 0px;
$sprite-phone-offset-y: -131px;
$sprite-phone-width: 12px;
$sprite-phone-height: 16px;
$sprite-phone-total-width: 155px;
$sprite-phone-total-height: 147px;
$sprite-phone-image: '../img/sprite.png';
$sprite-phone: (0px, 131px, 0px, -131px, 12px, 16px, 155px, 147px, '../img/sprite.png', 'sprite_phone', );
$sprite-radio-check-name: 'sprite_radio-check';
$sprite-radio-check-x: 106px;
$sprite-radio-check-y: 86px;
$sprite-radio-check-offset-x: -106px;
$sprite-radio-check-offset-y: -86px;
$sprite-radio-check-width: 19px;
$sprite-radio-check-height: 19px;
$sprite-radio-check-total-width: 155px;
$sprite-radio-check-total-height: 147px;
$sprite-radio-check-image: '../img/sprite.png';
$sprite-radio-check: (106px, 86px, -106px, -86px, 19px, 19px, 155px, 147px, '../img/sprite.png', 'sprite_radio-check', );
$sprite-radio-hover-name: 'sprite_radio-hover';
$sprite-radio-hover-x: 0px;
$sprite-radio-hover-y: 112px;
$sprite-radio-hover-offset-x: 0px;
$sprite-radio-hover-offset-y: -112px;
$sprite-radio-hover-width: 19px;
$sprite-radio-hover-height: 19px;
$sprite-radio-hover-total-width: 155px;
$sprite-radio-hover-total-height: 147px;
$sprite-radio-hover-image: '../img/sprite.png';
$sprite-radio-hover: (0px, 112px, 0px, -112px, 19px, 19px, 155px, 147px, '../img/sprite.png', 'sprite_radio-hover', );
$sprite-radio-name: 'sprite_radio';
$sprite-radio-x: 19px;
$sprite-radio-y: 112px;
$sprite-radio-offset-x: -19px;
$sprite-radio-offset-y: -112px;
$sprite-radio-width: 19px;
$sprite-radio-height: 19px;
$sprite-radio-total-width: 155px;
$sprite-radio-total-height: 147px;
$sprite-radio-image: '../img/sprite.png';
$sprite-radio: (19px, 112px, -19px, -112px, 19px, 19px, 155px, 147px, '../img/sprite.png', 'sprite_radio', );
$sprite-rubl-name: 'sprite_rubl';
$sprite-rubl-x: 118px;
$sprite-rubl-y: 112px;
$sprite-rubl-offset-x: -118px;
$sprite-rubl-offset-y: -112px;
$sprite-rubl-width: 12px;
$sprite-rubl-height: 14px;
$sprite-rubl-total-width: 155px;
$sprite-rubl-total-height: 147px;
$sprite-rubl-image: '../img/sprite.png';
$sprite-rubl: (118px, 112px, -118px, -112px, 12px, 14px, 155px, 147px, '../img/sprite.png', 'sprite_rubl', );
$sprite-star-opacity-name: 'sprite_star-opacity';
$sprite-star-opacity-x: 102px;
$sprite-star-opacity-y: 112px;
$sprite-star-opacity-offset-x: -102px;
$sprite-star-opacity-offset-y: -112px;
$sprite-star-opacity-width: 16px;
$sprite-star-opacity-height: 15px;
$sprite-star-opacity-total-width: 155px;
$sprite-star-opacity-total-height: 147px;
$sprite-star-opacity-image: '../img/sprite.png';
$sprite-star-opacity: (102px, 112px, -102px, -112px, 16px, 15px, 155px, 147px, '../img/sprite.png', 'sprite_star-opacity', );
$sprite-star-red-name: 'sprite_star-red';
$sprite-star-red-x: 86px;
$sprite-star-red-y: 112px;
$sprite-star-red-offset-x: -86px;
$sprite-star-red-offset-y: -112px;
$sprite-star-red-width: 16px;
$sprite-star-red-height: 15px;
$sprite-star-red-total-width: 155px;
$sprite-star-red-total-height: 147px;
$sprite-star-red-image: '../img/sprite.png';
$sprite-star-red: (86px, 112px, -86px, -112px, 16px, 15px, 155px, 147px, '../img/sprite.png', 'sprite_star-red', );
$sprite-tw-big-hover-name: 'sprite_tw-big-hover';
$sprite-tw-big-hover-x: 43px;
$sprite-tw-big-hover-y: 43px;
$sprite-tw-big-hover-offset-x: -43px;
$sprite-tw-big-hover-offset-y: -43px;
$sprite-tw-big-hover-width: 43px;
$sprite-tw-big-hover-height: 43px;
$sprite-tw-big-hover-total-width: 155px;
$sprite-tw-big-hover-total-height: 147px;
$sprite-tw-big-hover-image: '../img/sprite.png';
$sprite-tw-big-hover: (43px, 43px, -43px, -43px, 43px, 43px, 155px, 147px, '../img/sprite.png', 'sprite_tw-big-hover', );
$sprite-tw-big-name: 'sprite_tw-big';
$sprite-tw-big-x: 0px;
$sprite-tw-big-y: 43px;
$sprite-tw-big-offset-x: 0px;
$sprite-tw-big-offset-y: -43px;
$sprite-tw-big-width: 43px;
$sprite-tw-big-height: 43px;
$sprite-tw-big-total-width: 155px;
$sprite-tw-big-total-height: 147px;
$sprite-tw-big-image: '../img/sprite.png';
$sprite-tw-big: (0px, 43px, 0px, -43px, 43px, 43px, 155px, 147px, '../img/sprite.png', 'sprite_tw-big', );
$sprite-tw-hover-name: 'sprite_tw-hover';
$sprite-tw-hover-x: 129px;
$sprite-tw-hover-y: 26px;
$sprite-tw-hover-offset-x: -129px;
$sprite-tw-hover-offset-y: -26px;
$sprite-tw-hover-width: 26px;
$sprite-tw-hover-height: 26px;
$sprite-tw-hover-total-width: 155px;
$sprite-tw-hover-total-height: 147px;
$sprite-tw-hover-image: '../img/sprite.png';
$sprite-tw-hover: (129px, 26px, -129px, -26px, 26px, 26px, 155px, 147px, '../img/sprite.png', 'sprite_tw-hover', );
$sprite-tw-name: 'sprite_tw';
$sprite-tw-x: 54px;
$sprite-tw-y: 86px;
$sprite-tw-offset-x: -54px;
$sprite-tw-offset-y: -86px;
$sprite-tw-width: 26px;
$sprite-tw-height: 26px;
$sprite-tw-total-width: 155px;
$sprite-tw-total-height: 147px;
$sprite-tw-image: '../img/sprite.png';
$sprite-tw: (54px, 86px, -54px, -86px, 26px, 26px, 155px, 147px, '../img/sprite.png', 'sprite_tw', );
$sprite-view1-name: 'sprite_view1';
$sprite-view1-x: 38px;
$sprite-view1-y: 112px;
$sprite-view1-offset-x: -38px;
$sprite-view1-offset-y: -112px;
$sprite-view1-width: 16px;
$sprite-view1-height: 16px;
$sprite-view1-total-width: 155px;
$sprite-view1-total-height: 147px;
$sprite-view1-image: '../img/sprite.png';
$sprite-view1: (38px, 112px, -38px, -112px, 16px, 16px, 155px, 147px, '../img/sprite.png', 'sprite_view1', );
$sprite-view2-name: 'sprite_view2';
$sprite-view2-x: 54px;
$sprite-view2-y: 112px;
$sprite-view2-offset-x: -54px;
$sprite-view2-offset-y: -112px;
$sprite-view2-width: 16px;
$sprite-view2-height: 16px;
$sprite-view2-total-width: 155px;
$sprite-view2-total-height: 147px;
$sprite-view2-image: '../img/sprite.png';
$sprite-view2: (54px, 112px, -54px, -112px, 16px, 16px, 155px, 147px, '../img/sprite.png', 'sprite_view2', );
$sprite-view3-name: 'sprite_view3';
$sprite-view3-x: 70px;
$sprite-view3-y: 112px;
$sprite-view3-offset-x: -70px;
$sprite-view3-offset-y: -112px;
$sprite-view3-width: 16px;
$sprite-view3-height: 16px;
$sprite-view3-total-width: 155px;
$sprite-view3-total-height: 147px;
$sprite-view3-image: '../img/sprite.png';
$sprite-view3: (70px, 112px, -70px, -112px, 16px, 16px, 155px, 147px, '../img/sprite.png', 'sprite_view3', );
$sprite-vk-big-hover-name: 'sprite_vk-big-hover';
$sprite-vk-big-hover-x: 86px;
$sprite-vk-big-hover-y: 43px;
$sprite-vk-big-hover-offset-x: -86px;
$sprite-vk-big-hover-offset-y: -43px;
$sprite-vk-big-hover-width: 43px;
$sprite-vk-big-hover-height: 43px;
$sprite-vk-big-hover-total-width: 155px;
$sprite-vk-big-hover-total-height: 147px;
$sprite-vk-big-hover-image: '../img/sprite.png';
$sprite-vk-big-hover: (86px, 43px, -86px, -43px, 43px, 43px, 155px, 147px, '../img/sprite.png', 'sprite_vk-big-hover', );
$sprite-vk-big-name: 'sprite_vk-big';
$sprite-vk-big-x: 0px;
$sprite-vk-big-y: 0px;
$sprite-vk-big-offset-x: 0px;
$sprite-vk-big-offset-y: 0px;
$sprite-vk-big-width: 43px;
$sprite-vk-big-height: 43px;
$sprite-vk-big-total-width: 155px;
$sprite-vk-big-total-height: 147px;
$sprite-vk-big-image: '../img/sprite.png';
$sprite-vk-big: (0px, 0px, 0px, 0px, 43px, 43px, 155px, 147px, '../img/sprite.png', 'sprite_vk-big', );
$sprite-vk-hover-name: 'sprite_vk-hover';
$sprite-vk-hover-x: 27px;
$sprite-vk-hover-y: 86px;
$sprite-vk-hover-offset-x: -27px;
$sprite-vk-hover-offset-y: -86px;
$sprite-vk-hover-width: 27px;
$sprite-vk-hover-height: 26px;
$sprite-vk-hover-total-width: 155px;
$sprite-vk-hover-total-height: 147px;
$sprite-vk-hover-image: '../img/sprite.png';
$sprite-vk-hover: (27px, 86px, -27px, -86px, 27px, 26px, 155px, 147px, '../img/sprite.png', 'sprite_vk-hover', );
$sprite-vk-name: 'sprite_vk';
$sprite-vk-x: 0px;
$sprite-vk-y: 86px;
$sprite-vk-offset-x: 0px;
$sprite-vk-offset-y: -86px;
$sprite-vk-width: 27px;
$sprite-vk-height: 26px;
$sprite-vk-total-width: 155px;
$sprite-vk-total-height: 147px;
$sprite-vk-image: '../img/sprite.png';
$sprite-vk: (0px, 86px, 0px, -86px, 27px, 26px, 155px, 147px, '../img/sprite.png', 'sprite_vk', );
$spritesheet-width: 155px;
$spritesheet-height: 147px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-checkbox-check, $sprite-checkbox-clear, $sprite-checkbox-hover, $sprite-fb-big-hover, $sprite-fb-big, $sprite-fb-hover, $sprite-fb, $sprite-map-pin, $sprite-phone, $sprite-radio-check, $sprite-radio-hover, $sprite-radio, $sprite-rubl, $sprite-star-opacity, $sprite-star-red, $sprite-tw-big-hover, $sprite-tw-big, $sprite-tw-hover, $sprite-tw, $sprite-view1, $sprite-view2, $sprite-view3, $sprite-vk-big-hover, $sprite-vk-big, $sprite-vk-hover, $sprite-vk, );
$spritesheet: (155px, 147px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
